body, html{
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
    background-color: $color__background-main;
}

main{
    margin-left: 10em;
    overflow-y: hidden;
}

h1{
    color: white;
    font-size: 6em;
    margin-top: 0.5em;
    margin-bottom: 0.7em;
    margin-left: 0em;
}


@media screen and (max-width: 768px) {

    h1{
        font-size: 2.5em;
        margin-top: 2em;
        text-align: center;
    }
}